@model eFashionShop.ViewModels.WebAppViewModel.HomeViewModel

<div id="banner-carousel" class="pt-75 owl-carousel owl-theme">
    @foreach (var image in Model.FeaturedImages)
    {
        <div class="item">
            <img src='@image.ImagePath' alt='@image.Caption'>
        </div>
    }
</div>

<div class="site-wrapper">
    <div class="container text-center">
        <div class="general-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <h2>Về chúng tôi</h2>
            <div class="title-devider"></div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="col-md-10 col-md-offset-1">
                <p>
                <p style="text-align:center">
                    <span style="font-family:Arial,Helvetica,sans-serif">
                        Công ty cổ phần HTcom - Nhà đẹp.
                    </span>
                </p>

                <p style="text-align:center">&nbsp;</p>
            </div>
        </div>
    </div>
    <!-- Projects -->
    <div class="container-fluid projects">
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            @foreach (var item in Model.FeaturedProducts)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="project-inner">
                        <a href="/category/Deital/@item.Id">
                            <div style="width:100%;height: 300px;background: url('@item.ImagePath');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt='@item.Details'></div>
                            <div class="project-caption">

                                <div class="project-details">
                                    <p><i class="fa fa-plus fa-lg"></i></p>
                                    <h3>@item.Details</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
@*            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-thi-cong-noi-that-van-phong/van-phong-tone-vang-164">

                        <div style="width:100%;height: 300px;background: url('/media/product/16264986755116.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Văn phòng tone vàng"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Văn phòng tone vàng</h3>
                                <p><small>2021-07-17 12:11:15</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung/phong-ngu-phong-cach-hien-dai-tan-co-dien-163">

                        <div style="width:100%;height: 300px;background: url('/media/product/16263340718526.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Phòng ngủ - Phong cách hiện đại | Tân cổ điển"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Phòng ngủ - Phong cách hiện đại | Tân cổ điển</h3>
                                <p><small>2021-07-15 14:27:52</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung/chung-cu-thien-nien-ky-ha-dong-162">

                        <div style="width:100%;height: 300px;background: url('/media/product/16263338129953.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Chung cư Thiên Niên Kỷ Hà Đông"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Chung cư Thiên Niên Kỷ Hà Đông</h3>
                                <p><small>2021-07-15 14:23:33</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-kien-truc/biet-thu-lien-ke-nguyen-thi-dinh-hn-161">

                        <div style="width:100%;height: 300px;background: url('/media/product/16251275738259.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Biệt thự liền kề - Nguyễn Thị Định, HN"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Biệt thự liền kề - Nguyễn Thị Định, HN</h3>
                                <p><small>2021-07-01 15:19:34</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-kien-truc/nha-pho-bat-trang-160">

                        <div style="width:100%;height: 300px;background: url('/media/product/16245964035497.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Nhà phố - Bát Tràng"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Nhà phố - Bát Tràng</h3>
                                <p><small>2021-06-25 11:46:47</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung/nha-chi-huong-159">

                        <div style="width:100%;height: 300px;background: url('/media/product/16233132718098.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Nhà chị Hương"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Nhà chị Hương</h3>
                                <p><small>2021-06-10 15:21:11</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-noi-that-cong-trinh-nha-o-dan-dung/nha-chi-uyen-158">

                        <div style="width:100%;height: 300px;background: url('/media/product/16230822984989.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Nhà chị Uyên"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Nhà chị Uyên</h3>
                                <p><small>2021-06-07 23:11:39</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="project-inner">
                    <a href="/du-an/thiet-ke-thi-cong-noi-that-biet-thu/biet-thu-vinhomes-riverside-157">

                        <div style="width:100%;height: 300px;background: url('/media/product/16226989528834.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                             alt="Biệt thự Vinhomes Riverside"></div>
                        <div class="project-caption">

                            <div class="project-details">
                                <p><i class="fa fa-plus fa-lg"></i></p>
                                <h3>Biệt thự Vinhomes Riverside</h3>
                                <p><small>2021-06-03 12:42:33</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>*@

        </div>
    </div>
    <div class="all-projects text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
        <a href="/category" class="btn orange-btn">
            Xem tất cả dự án
        </a>
    </div>
    <!-- End Projects -->
    <!-- Our Services -->
    <div class="container padding-top text-center">
        <div class="general-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <h2>Dịch vụ của chúng tôi</h2>
            <div class="title-devider"></div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="col-md-10 col-md-offset-1">
                <p>
                <p style="text-align:center"><span style="font-size:14px"></span></p>

                <p style="margin-left:0in; margin-right:0in; text-align:center">
                    <span style="font-size:14px">
                        <span style="font-family:Arial,Helvetica,sans-serif">
                            Công ty cổ phần kiến trúc HTCom. Với các chuyên gia, kiến trúc sư dày dặn kinh nghiệm dẫn dắt cùng đội ngũ thiết kế trẻ có nhiều khả năng sáng tạo, công ty chúng tôi cam kết mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất.
                        </span>
                    </span>
                </p>

                <p style="margin-left:0in; margin-right:0in; text-align:center">
                    <span style="font-size:14px">
                        <span style="font-family:Arial,Helvetica,sans-serif">
                            HTCom xin chân thành cảm ơn các khách hàng đã, đang và sẽ sử dụng sản phẩm dịch vụ của chúng tôi. Chúng tôi luôn mong muốn được phục vụ khách hàng ngày càng tốt hơn.
                        </span>
                    </span>
                </p>

                <p style="margin-left:0in; margin-right:0in; text-align:center">&nbsp;</p>

                <p style="margin-left:0in; margin-right:0in; text-align:center">&nbsp;</p>

                <p style="text-align:center"><span style="font-size:14px"></span></p>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <div class="col-md-1">
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a href="/dich-vu/quy-trinh-thiet-ke">
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/media/article_cat/15399205978279.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Quy trình thiết kế"></div>
                </a>
                <div class="service-title">
                    <h3>Quy trình thiết kế</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a href="/dich-vu/quy-trinh-thi-cong">
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/media/article_cat/15399206085985.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Quy trình thi công"></div>
                </a>
                <div class="service-title">
                    <h3>Quy trình thi công</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a href="/dich-vu/hop-dong-thi-cong-mau">
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/media/article_cat/15399206161319.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Hợp đồng mẫu"></div>
                </a>
                <div class="service-title">
                    <h3>Hợp đồng mẫu</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a href="/dich-vu/bao-gia">
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/media/article_cat/15399206240052.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Báo giá"></div>
                </a>
                <div class="service-title">
                    <h3>Báo giá</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-xs-6">
                <a href="/dich-vu/khach-hang">
                    <div class="icon-a"
                         style="width:100%;height: 190px;background: url('/media/article_cat/15399206323039.jpg');background-size: cover;background-position: center center;background-repeat: no-repeat;background-color: #fff;"
                         alt="Khách hàng"></div>
                </a>
                <div class="service-title">
                    <h3>Khách hàng</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class=" padding-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
            <a href="/dich-vu" class="btn black-btn">
                Xem tất cả
            </a>
        </div>
    </div>
    <!-- End  -->
    <!-- tin tức - blog-->
    <!-- start -->
    @*    <section class="bg-color  text-center">
        <div class="container">
        <div class="general-title wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
        <h2>Tin tức nổi bật</h2>
        <div class="title-devider"></div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
        <div class="col-sm-4 col-md-4">
        <div class="thumbnail blog-post">

        <a href="tin-tuc/diem-lai-5-xu-huong-thiet-ke-noi-that-chu-dao-2020-66">
        <div class="tintuc-img"
        style="background:url('/media/article/16046305027655.jpg') no-repeat center; background-size: cover;">
        </div>
        </a>

        <div class="caption">
        <div class="blog-inner-title">
        <a href="tin-tuc/diem-lai-5-xu-huong-thiet-ke-noi-that-chu-dao-2020-66">
        <h3>ĐIỂM LẠI 5 XU HƯỚNG THIẾT KẾ NỘI THẤT CHỦ ĐẠO 2020</h3>
        </a>
        </div>
        <p>
        <p>
        <span style="font-size:16px">
        <span style="font-family:Arial,Helvetica,sans-serif">
        Bạn
        đang muốn đổi mới ng&ocirc;i nh&agrave; của m&igrave;nh&nbsp; nhưng
        c&ograve;n đang ph&acirc;n v&acirc;n chọn lựa c&aacute;c thiết kế để tạo
        n&ecirc;n sự độc đ&aacute;o nhưng vẫn mang lại c&aacute; t&iacute;nh
        ri&ecirc;ng của bản th&acirc;n? Đừng bỏ qua 5 xu hướng thiết kế nội thất hot
        nhất năm 2020.
        </span>
        </span>
        </p>
        </p>
        <div class="blog-meta">
        <span><i class="fa fa-calendar"></i> <a href="#"> 06-11-2020</a></span>
        </div>
        </div>
        </div>
        </div>
        <div class="col-sm-4 col-md-4">
        <div class="thumbnail blog-post">

        <a href="tin-tuc/nhung-luu-y-khi-bo-tri-khong-giang-phong-ngu-65">
        <div class="tintuc-img"
        style="background:url('/media/article/15889343806929.jpg') no-repeat center; background-size: cover;">
        </div>
        </a>

        <div class="caption">
        <div class="blog-inner-title">
        <a href="tin-tuc/nhung-luu-y-khi-bo-tri-khong-giang-phong-ngu-65">
        <h3>NHỮNG LƯU Ý KHI BỐ TRÍ KHÔNG GIAN PHÒNG NGỦ</h3>
        </a>
        </div>
        <p>
        <p>
        <span style="font-family:Arial,Helvetica,sans-serif">
        <span style="font-size:16px">
        Kh&aacute;c với trước đ&acirc;y khi chỉ đơn giản
        l&agrave; nơi ngả lưng mỗi khi mệt mỏi, ph&ograve;ng ngủ hiện nay
        đ&oacute;ng vai tr&ograve; rất lớn t&aacute;c động đến cảm x&uacute;c,
        t&acirc;m trạng của người sử dụng.<br />
        Để c&oacute; một kh&ocirc;ng gian nghỉ ngơi thư gi&atilde;n trọn vẹn,
        h&atilde;y c&ugrave;ng Art Việt điểm qua một số lưu &yacute; nhỏ khi bố
        tr&iacute; Ph&ograve;ng ngủ nh&eacute;!
        </span>
        </span>
        </p>
        </p>
        <div class="blog-meta">
        <span><i class="fa fa-calendar"></i> <a href="#"> 08-05-2020</a></span>
        </div>
        </div>
        </div>
        </div>
        <div class="col-sm-4 col-md-4">
        <div class="thumbnail blog-post">

        <a href="tin-tuc/lang-lieu">
        <div class="tintuc-img"
        style="background:url('/media/article/15885792411154.jpg') no-repeat center; background-size: cover;">
        </div>
        </a>

        <div class="caption">
        <div class="blog-inner-title">
        <a href="tin-tuc/lang-lieu">
        <h3>NHÀ HÀNG LANG LIÊU - MỖI CÁI NHÌN LÀ MỘT LỊCH SỬ</h3>
        </a>
        </div>
        <p>
        <p>
        <span style="font-family:Arial,Helvetica,sans-serif">
        <span style="font-size:16px">
        2019, 𝐋𝐚𝐧𝐠 𝐋𝐢𝐞̂𝐮 được đ&aacute;nh gi&aacute;
        l&agrave; dự &aacute;n m&agrave; Art Việt h&agrave;i l&ograve;ng nhất với
        hơn 90% c&aacute;c chi tiết trong bản thiết kế đều được thể hiện tr&ecirc;n
        c&ocirc;ng tr&igrave;nh thực tế, kỹ lưỡng tỉ mỉ tới từng đường n&eacute;t.
        B&ecirc;n cạnh đ&oacute;, 𝐃𝐮̛̣ 𝐚́𝐧 𝐋𝐚𝐧𝐠 𝐋𝐢𝐞̂𝐮 đ&atilde;
        đ&aacute;nh dấu một m&ugrave;a h&egrave;
        si&ecirc;u&nbsp;&quot;n&oacute;ng&quot;&nbsp;với cường độ l&agrave;m việc
        cao, c&ugrave;ng tiến độ dồn dập, khi m&agrave; tổng thời gian từ l&uacute;c
        thai ngh&eacute;n &yacute; tưởng cho tới ng&agrave;y b&agrave;n giao chỉ vỏn
        vẹn 02 th&aacute;ng.
        </span>
        </span>
        </p>
        </p>
        <div class="blog-meta">
        <span><i class="fa fa-calendar"></i> <a href="#"> 04-05-2020</a></span>
        </div>
        </div>
        </div>
        </div>



        </div>
        </div>
        </section>*@
</div>

