@model eFashionShop.ViewModels.WebAppViewModel.ProductDetailViewModel

<div id="banner-carousel" class="pt-75 owl-carousel owl-theme">
    @foreach (var image in Model.productImageViewModels)
    {
        <div class="item">
            <img src='@image.ImagePath' alt='@image.Caption'>
        </div>
    }
</div>

<div class="pt-75 general-title bg-color">
    <h2>Dự án : @Model.productVms.Description</h2>
    <div class="title-devider"></div>
</div>
<div class="site-wrapper">
    <!-- Contact -->
    @{
        if (Model.productVms != null)
        {
            <div class="container padding-bottom text-center contact-adress">

                <p>@Model.productVms.Details</p>

                <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">
                    <div class="col-sm-4 col-md-4">
                        <h3>Khách Hàng</h3>
                        <address>
                            <p>&nbsp;</p>

                            <h4>
                                @Model.productVms.Customer
                            </h4>
                        </address>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h3>Vị trí</h3>
                        <address>
                            <p>&nbsp;</p>

                            <h4>
                                @Model.productVms.Localtion
                            </h4>
                        </address>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h3>Diện Tích</h3>
                        <address>
                            <p>&nbsp;</p>

                            <h4>
                                @Model.productVms.Area m2
                            </h4>
                        </address>
                    </div>
                </div>
            </div>
        }
    }
</div>

